/**
* 8.0 Media Queries
* ----------------------------------------------------------------------------
*/
@import url("../firezy/responsive.css");


@media only screen and (max-width: 767px) {
    .shortcode-title {
        text-align: left;
    }
    .topbar-link .topbar-link-toggle {
        background-image: url("images/megnor/user.svg");
    }
    .topbar-link .topbar-link-toggle:hover {
        background-image: url("images/megnor/user_hover.svg");
    }
}

@media only screen and (max-width: 479px) {
.header-search .woocommerce-product-search input[type="submit"]:hover,
.header-search .search-form #searchsubmit:hover {
    background-position: -68px 7px;
    background-color: #c70a0a;
    border-color: #c70a0a;
}
}